/*===================== About Banner section start ======================= */
.about-banner {
    position: relative;
    background: url('/assets/frontend/media/pages/about/images/about.jpg') no-repeat center center/cover;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .about-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
} */

.about-banner-content {
    z-index: 1;
}

.about-banner h1 {
    color: var(--white-text);
    font-size: 2rem;
    line-height: 1.4;
}

.about-banner-content .lead {
    color: var(--sub-heading-text);
}

/*===================== About Banner section End ======================= */
/*===================== Vision section Start ======================= */
.vision-section {
    background: #cde5ff;
    padding: 60px 0;
}

.vision-title {
    font-size: 1.5rem;
    color: var(--sub-heading-text);
    margin-bottom: 10px;
}

.vision-highlight {
    font-size: 2rem;
    color: var(--heading-text);
    font-weight: bold;
    margin-bottom: 20px;
}

.vision-description {
    font-size: 1rem;
    color: var(--sub-heading-text);
    line-height: 1.8;
}

/*===================== Vision section End ======================= */
/*===================== Custom section Start ======================= */
.custom-section {
    position: relative;
    padding: 60px 0;
    background: var(--linear-bg);
}

.custom-section .lead {
    color: var(--white-text);
}

.custom-section .row {
    align-items: center;
}

.speech-box {
    position: absolute;
    bottom: -90px;
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow-medium);
    padding: 20px;
    max-width: 800px;
    text-align: center;
}

.speech-box p {
    font-size: 1rem;
    color: var(--sub-heading-text);
    line-height: 1.8;
}

.speech-box span {
    font-weight: bold;
    color: var(--heading-text);
}

/*===================== Custom section End ======================= */
/*===================== Sterp section Start======================= */
.about-card-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-card-section-head {
    width: 600px;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: none;
    padding: 20px;
    cursor: pointer;
}

.card:hover {
    transform: scale(0.98);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #f8f9fa;
    margin-right: 15px;
}

.icon i {
    font-weight: 900;
    font-size: 50px;
    color: var(--heading-text);
}

.card-body {
    display: flex;
    align-items: center;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--heading-text);
}

.card-text {
    color: var(--sub-heading-text);

}

/*===================== Sterp section End======================= */
