
/* Appointment banner start */

.appointment-banner{
    position: relative;
    width: 100%;
    height: 50vh;
    /* background: url("/assets/frontend/media/pages/case_studies/images/banner_case_studies.jpg") no-repeat center center/cover; */
    background-repeat: no-repeat;
    background-size: cover;
}


